---
layout: default
---

<div class="container statement statement-index">
  {% include israel-palestine.html %}
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.book | postTitle: post.chapter, post.verse, post.heTitle, post.tlTitle, post.enTitle }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <div class="post-footer">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
          {% if post.content contains site.excerpt_separator %}
            Read More
          {% endif %}
        </a>
        <span class="date"> {{ post.date | date: "%B %e, %Y" }}</span>
      </div>
    </article>
  {% endfor %}
</div>