---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

// Noto Naskh Arabic font
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $enSanSerif;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-left: 8px;
  padding-right: 8px;
}

.he {
  font-family: $heSerif;
  font-size: 120%;
  line-height: 1.1666666667;
  font-weight: normal;
}

.gk {
  font-family: $greekSerif;
  font-weight: normal;
}

.tl {
  font-family: $enSerif;
  font-size: 92%;
  line-height: 1.5217391304;
  font-style: italic;
  font-weight: normal;
}

.tr {
  font-family: $enSanSerif;
  font-weight: normal;
}

.verses-attrib {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-style: italic;
}

.verses-no-wrap {
  white-space: nowrap;
}

.sefaria-link {
  white-space: nowrap;
}

.small-caps {
  display: inline-block;
  font-variant: small-caps;
  font-weight: bold;
}

span.small-caps:first-letter {
  font-weight: normal;
}

.statement {
  padding: 0 10px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.statement-index {
  margin-top: 15px - 50px;
  margin-bottom: 50px;
  font-size: 85%;
}

.statement-post {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 80%;
}

.page-title {
  text-align: center;
  margin-top: -0.3em;
}

.secondary-page-title {
  text-align: center;
}

.htd {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.book-htd {
  text-align: right;
}

.footer {
  text-align: center;
  margin-top: 40pt;
  margin-bottom: 20pt;
}

a.gray,
a.gray:visited {
  color: #555;
}
a.gray:hover,
a.gray:focus,
a.gray:visited:hover,
a.gray:visited:focus {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $enSanSerif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.img-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

figcaption {
  text-align: center;
  padding-top: 5px;
  font-style: italic;
  font-size: 90%;
}

figure {
  min-width: 300px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// // Specify the color of the selection
// ::-moz-selection {
//   color: $black;
//   background: $lightGray;
// }
// ::selection {
//   color: $black;
//   background: $lightGray;
// }

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: inherit;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $enSanSerif;
  font-weight: lighter;
  font-size: 28px;
}

.latest-posts {
  font-weight: lighter;
  font-size: 28px;
  text-align: center;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $enSanSerif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: lighter;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .comments {
    margin-top: 10px;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .read-more {
    font-style: italic;
    // text-transform: uppercase;
    // font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.svg-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  vertical-align: text-top;
  &.rss { background-image: url(assets/icons/RSS.svg) }
  &.rss:hover { background-image: url(assets/icons/RSS-hover.svg) }
}