<p>
I beg my Jewish siblings and Palestinian cousins to see the humanity in those they fear and seek true peace – an immediate end to this cycle of dehumanization and bloodshed – no matter the cost.
</p><p>
Even as I am still processing the horror of October 7, the continued peril of the hostages, and my fear as anti-semitism rises, I cannot stay silent as those in power in Israel let our response to this unthinkable destruction wrought on innocent Jews be twenty-fold destruction wrought on innocent Palestinians. Children, hospitals, cemeteries, churches, mosques, and entire communities and families cannot continue to be the casualties of this war – no matter what Hamas does.
</p><p>
We must learn to share this land, on which both Jews and Palestinians each have millennia of history. We must find a way for both Jews and Palestinians to live in safe, self-determined communities, free from the threat of occupation or terrorism.
</p>