
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

@font-face {
  font-family: CMUSansSerif;
  src: url('{{ site.url }}/../assets/fonts/computer-modern/cmunss.ttf');
}

@font-face {
  font-family: 'Shofar D';
  src: url('{{ site.url }}/../assets/fonts/Shofar D/Shofar_D.woff2') format('woff2'),
       url('{{ site.url }}/../assets/fonts/Shofar D/Shofar_D.woff') format('woff');
}

// Font stacks
$enSanSerif: CMUSansSerif, sans-serif;
$enSerif: Georgia, serif;
$heSerif: 'Shofar D', 'Noto Naskh Arabic', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}