---
layout: default
---

<article class="post">
  <h1>{% pagePostTitle %}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <!-- {% if page.includeStatement == 1 %}
  <div class="container statement statement-post">
    {% include israel-palestine.html %}
  </div>
  {% endif %} -->

  <div class="post-footer">
    <a href="{{ site.baseurl }}/{{ page.categories | join: '/' }}" class="read-more">
      Read More Posts from {{ page.book }}
    </a>
    <span class="date"> {{ page.date | date: "%B %e, %Y" }}</span>
  </div>
</article>
