---
layout: default
---

<article class="page">

  <h1 class="page-title">Posts by Book</h1>

  <table><tbody><tr><td>
  {% assign posts = site.categories[page.cat] | sort: "date" %}
  {% for post in posts %}
    {% if post.chapter == 1 %}
      </td></tr><tr><td class="htd book-htd">
        <a href="{{ site.baseurl }}/nach/{{ post.book | replace: ' ', '-' }}">{{ post.book }}</a>
      </td><td class="post-list">
    {% endif %}
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.chapter }}</a>
  {% endfor %}
  </tbody></table>

  <h1 class="secondary-page-title">Posts by Date</h1>

  <table><tbody><tr><td>
    {% assign posts = site.categories[page.cat] | sort: "date" %}
    {% assign prev_year = "" %}
    {% assign prev_year_month = "" %}
    {% for post in posts %}
      {% assign year = post.date | date: "%y" %}
      {% assign month = post.date | date: "%b" %}
      {% assign day = post.date | date: "%e" %}
      {% assign year_month = year | append: month %}
      {% if year_month != prev_year_month %}
        </td></tr><tr>
        {% if year != prev_year %}
          <td class="htd">
            ‘{{ year }}
          </td>
          {% assign prev_year = year %}
        {% else %}
          <td></td>
        {% endif %}
        <td class="htd">
          {{ month }}
        </td><td class="post-list">
        {% assign prev_year_month = year_month %}
      {% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ day }}</a>
    {% endfor %}
    </tbody></table>

</article>