---
layout: default
---

<article class="post">
  <h1>{% pagePostTitle %}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <!-- {% if page.includeStatement == 1 %}
  <div class="container statement statement-post">
    {% include israel-palestine.html %}
  </div>
  {% endif %} -->

  <div class="post-footer">
    <a href="{{ site.baseurl }}/{{ page.categories | join: '/' }}" class="read-more">
      Read More Posts from {{ page.book }}
    </a>
    <span class="date"> {{ page.date | date: "%B %e, %Y" }}</span>
  </div>

  <div class="post-nav">
    {% if page.previous %}
      <a class="post-nav-prev" href="{{ site.baseurl }}{{ page.previous.url }}">
        ❮ Previous ({{ page.previous.book }} {{ page.previous.chapter }})
      </a>
    {% else %}
      <span></span>
    {% endif %}
    {% if page.next %}
      <a class="post-nav-next" href="{{ site.baseurl }}{{ page.next.url }}">
        Next ({{ page.next.book }} {{ page.next.chapter }}) ❯
      </a>
    {% endif %}
    </div>
</article>
